[Desktop Entry]
Type=Application
Exec=xkbcomp /home/psc/.xkbmap ":0"
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=Remap Keys
Name=Remap Keys
Comment[en_US]=
Comment=
